.card{
    background: url(/src/images/Container.png);
    
    background-size: 100% 100%;
   
    cursor: pointer;

}
.card:hover{
    background: url(/src/images/Container.png);
    
    background-size: 100% 100%;
    background-color: #ffeac690;
   
    cursor: pointer;

}

.card2{
    background: url(/src/images/Container.png);
    background-size: 100% 100%;
}

.card_title{
    text-align: center;
    height: 38px;
    padding: 2px;
}

.card_title h2 {
    color:black;
    margin-top:10px;
}

.card_content{
    height:125px;
    padding: 2px;
}