.main_screen{
    margin-left: 9%;
    margin-right: 9%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.main_screen h3{
    margin-top: 2px;
    text-align: center;
    
}

.test {
    text-align: center;
}